.divprincipal {
    background-color: #D8D8D8;
  margin: 0rem;
  padding: 0rem;
  border: 0px solid #ccc;
  /* IMPORTANTE */
  text-align: center;
}

.button {
    background-color:#084B8A;
    border: none;
    color: white;
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
}

